<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>TELA-C's Diary - MM/dd</title>
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
    </head>
    <body>
        <div class="topblock block">
            <h1>TELA-C's Blog on MM/dd</h1>
        </div>
        <div class="mainblock block">
            <!--contents-->
            <h3>Title</h3>
            <p>Contents</p>
            <p>Contents</p>
            <p>Contents</p>
        </div>
        <div class="bottomblock block">
            <p>Powered by : Github , TELA-C , RYZ_1331</p>
        </div>
    </body>
</html>