<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>FormTest - 03/20</title>
        <link rel="stylesheet" href="../../assets/css/base.css">
        <link rel="stylesheet" href="../../assets/css/telac-blog-base.css">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
    </head>
    <body>
        <div class="topblock block">
            <h1>TELA-C's Blog on 03/20</h1>
        </div>
        <div class="mainblock block">
            <!--contents-->
            <h3>DVD借りと友人の髪刈り</h3>
            <iframe src="https://script.google.com/macros/s/AKfycbwMs3gj9YUuPZWqPUJoHtCrTqm5LsngUbWQhup-DCu4UmqOqZy3TCHq3WhhJriD4mQ5/exec" width="300" height="60" frameborder="1"></iframe>
            <p class="smallfont">20日 <br>
            <br>
            今日は翌日の旅行先に向かう時に車で見る<br>
            DVDを借りに行った。ただそれだけ。<br>
            これはどうでもいい話だが、塾の友人の写真を友人から貰ったから<br>
            AIを使って色々な髪型に変えようとした。<br>
            普通にハゲさせようとしたり<br>
            某北の国の某総書記の髪型にしようとしたが、<br>
            AIの規約違反判定され生成できず…<br>
            ちょい悲しファイブエム<br>
           <br>
            最近はAIを使ってのフェイクニュースとかが<br>
            増えているからそれの対策だろう。<br>
            他のAIだと金払えば生成できるけどね。
            </p>
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSchKfbEoGd_Ea3cCoiFwGTNMNXrPlnVYA9T9BlYHe70pTCF3Q/viewform?embedded=true" width="640" height="800" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
        </div>
        <div class="bottomblock block">
            <p>Powered by : Github , TELA-C , RYZ_1331</p>
            <p>Copyright © 2026 TELA-C - All rights reserved.</p>
        </div>
    </body>
</html>